.itemListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 52px;
}

.itemsList{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.loadMoreButton {
    width: 145px;
    height: 56px;
    padding: 16px 0;
    border-radius: 200px;
    font-weight: 500;
    background-color: #FFFFFF;
    border: 1px solid #DADDE1;
    font-size: 16px;
}

.loadMoreButton:hover {
    background-color: #DADDE1;
}