.barContainer{
    width: 1440px;
    padding: 24px 64px;
    display: flex;
    gap: 450px;
    align-items: baseline;
    background-color: #F2F4F7;
    box-sizing: border-box;
}

.navContainer{
    display: flex;
    gap: 32px;
}

.navLink{
    font-weight: 500;
    
}

.active{
    color: #D84343;
}